
/* reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import "extra/extend";

body{
    @extend %estilos;
    
}


// estilos header todos los html

@import "extra/variables";
@import "extra/mixin";

header{
    .logo{
        @include estilos-logo(60%, flex, left);
    }

    .menu-color{
        background-color: $color-principal;
        position: sticky;
        text-align: center;
        font-family: 'Nanum Myeongjo', serif;
        text-transform: uppercase;
    }

    .menu-posicion{
        justify-content: right;
    }
    ul{
        display: block;
        list-style-type: disc;

        li .color-link{
            color: whitesmoke;
        }
        li .color-link:hover{
            color: whitesmoke;
            text-decoration: underline;
        }

        li a{
            text-decoration: none;
            color: white;
        }
    }

}

// estilos de todos los footer

footer {

    @include estilos-footer (2rem, auto, $color-principal, center, 0);

    h3{
        font-size: 15px;
        color: white;
        font-family:Arial, Helvetica, sans-serif;
        font-style: none;
    }
}

// estilos del home
@import "extra/home";



// estilos de quienes somos
@import "extra/quienes-somos";

// estilos productos
@import "extra/productos";



    // estilos envio
@import "extra/envios";




// estilos contacto
@import "extra/contacto";

