/* estilos envios */

@import "extra/variables";

main{
    .info-padre{
        display: inline-block;
        background-color: $color-principal;
        color: white;
        text-align: center;
        margin-left: 1rem;
        margin-right: 1rem;
        height: 37.5rem;
        font-size: 20px;            
    }
    .info{
        display: flex;
        text-align: center;
    }

    .envios-mapa{
        display: flex;
        margin: top 5rem;
        justify-content: center;
    }
}
@media screen and (min-width:600px){
    main{
        .info-padre{
            display: inline-block;
            background-color: $color-principal;
            color: white;
            text-align: center;
            margin-left: 1rem;
            margin-right: 1rem;
            height: 37.5rem;
            font-size: 25px;                
        }
        .info{
            display: flex;
            text-align: center;
        }
        .envios-mapa{
            display: flex;
            margin-top: 5rem;
            justify-content: center;
        }
    }
}
@media screen and (min-width:1024px){
    main{
        .info-padre{
            display: inline-block;
            background-color: $color-principal;
            color: white;
            text-align: center;
            margin-left: 1rem;
            margin-right: 1rem;
            height: 37.5rem;
            font-size: 30px;                
        }
        .info{
            display: flex;
            text-align: center;          
        }
        .envios-mapa{
            display: flex;
            margin-top: 5rem;
            justify-content: center;                
        }
    }
}
