/* estilos de quienes somos */

@import "extra/variables";

main{
    margin-top: 1.5rem;
    h1{
        color: white;
        font-family: 'Dancing Script', cursive;;
        font-size: 40px;
        background-color: $color-principal;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
    }
    .quienes-somos{
        display: flex;
        flex-direction: column;
        row-gap: 0.1rem;
        background-color: $color-principal;
        margin-bottom: 1rem;
        padding: 0.5rem;
        justify-content: space-between;
        border: 1rem;
        margin: 1rem 2rem 1rem 2rem;

        .parrafo{
            display: flex;
            margin-top: 0.1rem;
            margin-bottom: 0.1rem; 
                p{
                    color: white;
                    font-size: 15px;
                    font-family: 'Dancing Script', cursive;
                    background-color: $color-principal;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 100%;   
            }   
        } 
        .carrusel{
            display: none;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 0.1rem;
            }

        }  
    }


@media screen and (min-width:600px){
    main{
        
        h1{
                color: white;
                font-family: 'Dancing Script', cursive;
                font-size: 40px;
                background-color: $color-principal;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-bottom: 1rem;              
            }
            .quienes-somos{
                display: flex;
                flex-direction: column;
                row-gap: 0.1rem;
                background-color: $color-principal;
                margin-bottom: 1rem;
                padding: 0.5rem;
                justify-content: space-between;
                border: 1rem;
                margin: 1rem 2rem 1rem 2rem;


            .parrafo{
                display: flex;
                margin-top: 0.1rem;
                margin-bottom: 0.1rem;    
                p{
                    color: white;
                    font-size: 20px;
                    font-family: 'Dancing Script', cursive;
                    background-color: $color-principal;
                    text-align: center;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 50%;
                }          
            }
            .carrusel{
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                margin-top: 0.1rem;
    
            }
    }
    }
}   


@media screen and (min-width:1024px){
    main{
        h1{
            color: white;
            font-family: 'Dancing Script', cursive;
            font-size: 50px;
            background-color: $color-principal;
            display: inline-block;
            justify-content: left;
            align-items: left;
            margin-bottom: 1rem;         
        }
        .quienes-somos{
            display: flex;
            flex-direction: column;
            row-gap: 0.1rem;
            background-color: $color-principal;
            margin-bottom: 1rem;
            padding: 0.5rem;
            justify-content: space-between;
            border: 1rem;
            margin: 1rem 2rem 1rem 2rem;



            .parrafo{
                display: flex;
                margin-top: 0.1rem;
                margin-bottom: 0.1rem;
           
                p{
                    color: white;
                    font-size: 30px;
                    font-family: 'Dancing Script', cursive;
                    background-color: $color-principal;
                    text-align: center;
                    display: flex;
                    height: 15rem;
            }
        }

        .carrusel{
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            margin-top: 0.1rem;

        }
    }

    }
}